a{
    text-decoration:none;
    color: black;
    out-line: none
}
ul,li{ padding:0;
    margin:0;
    list-style:none;
}
.top{
    width: 100%;
    height: 100px;
    float: left;
    font-family: 方正舒体;
    background:url("../img/banner.gif") ;
    background-attachment: fixed;
    text-align: center;
    font-size:60px;
    line-height: 100px;
}
.left{
    width: 15%;
    height: 1240px;
    float: left;
    background: #e2ffef;
    border-right-style: solid ;
    border-right-color:#bfe5d5;
    border-right-width: 15px;
}
.left_li{
    font-size: 28px;
    line-height: 30px;
    margin-left: 20px;
}
.left_li_1{
    font-size: 20px;
    line-height: 50px;
    
    list-style-type: circle;
}
.left_li_2{
    padding-left: 20px;
    font-size: 16px;
}
.right{
    background: #f4fffb;
    width: 84%;
    height: 840px;
    float: left;
}
