table{
    font-size: 20px;
    margin-left: 2%;
    margin-top: 20px;
    width: 96%;
    border:1px solid black;
}
td{
    height: 50px;
    border:1px solid black;
}
th{
    font-size: 24px;
    height: 60px;
    background: #15a098;
    color: #ffffff;
}
td{
    text-align: center;
}